<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="doge, shibe, text, generator, wow" />
        <meta name="description" content="Wow - such doge text generator" />

        <meta property="og:title" content="dogr" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://dogr.io" />
        <meta property="og:image" content="http://dogr.io/doge.png" />

        <meta name="viewport" content="width=600">

        <link href="/appicon/icon-120.png" rel="apple-touch-icon" />
        <link href="/appicon/icon-60.png" rel="apple-touch-icon" sizes="60x60" />
        <link href="/appicon/icon-76.png" rel="apple-touch-icon" sizes="76x76" />
        <link href="/appicon/icon-120.png" rel="apple-touch-icon" sizes="120x120" />

        <link href="/dogr.css" rel="stylesheet" media="all">
        <script type="text/javascript">
            var providedLines = {{{lines}}};
        </script>
        <title>such doge - much generator - wow</title>
    </head>
    <body>
        <a class="github-ribbon" href="https://github.com/codazzo/dogr"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

        <div class="doge">
            <canvas id="canvas" width="600" height="600"></canvas>
            <aside>
                <textarea id="textarea"></textarea>
                <button id="wow">wow</button>
            </aside>
        </div>
        <div class="actions">
            <button id="download">very view</button>
        </div>
        <script type="text/javascript" src="/dogr.js"></script>
    </body>
</html>
