body {
    background-color: #F4EDE3;
    margin: 0px;
    padding: 0px;
}

div.doge {
    overflow: hidden;
}

canvas, aside {
    display: inline-block;
    float: left;
    margin-top: 18px;
    margin-left: 18px;
}

textarea {
    width: 300px;
    height: 200px;
}

div.actions {
    margin-top: 8px;
    margin-left: 18px;
}

@font-face {
    font-family: 'doge';
    src: url('/dogeFont.ttf');
}

button {
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
    display: block;
}

button#wow {
    width: 60px;
    background-image: linear-gradient(to bottom, #000075 0%, #366FFF 100%);
}
button#download {
    width: 200px;
    background-image: linear-gradient(to bottom, #067000 0%, #58E848 100%);
}